[submodule "Libraries/argparse"]
	path = Libraries/argparse
	url = git@github.com:p-ranav/argparse.git
[submodule "Libraries/uSockets/repo"]
	path = Libraries/uSockets/repo
	url = git@github.com:uNetworking/uSockets.git
[submodule "Libraries/uWebSockets/repo"]
	path = Libraries/uWebSockets/repo
	url = git@github.com:uNetworking/uWebSockets.git
[submodule "Libraries/hiredis"]
	path = Libraries/hiredis
	url = https://github.com/redis/hiredis
